.container{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 50px;
    border:2px solid #53303b;
    border-radius: 10px;
    width: 300px;
    padding: 15px;
    height: 400px;
    background-color: #EEEEEE;
    }
    
    .container input{
        border-radius: 50px;
        background: #d5dee7;
        box-shadow: inset 25px 25px 50px #b5bdc4,
                    inset -25px -25px 50px #f5ffff;
    }

   
    .error-msg{
        color: red;
    }
    
    a {
        text-decoration: none;
    }